<form method="POST">
    {{ form.hidden_tag() }}
    <div class="register-container">
        <div class="input-group mb-3 row">
            <div class="col" style="display: flex; justify-content: center;">
                <span class="input-group-text">
                    <lord-icon
                        src="https://cdn.lordicon.com/rhvddzym.json"
                        trigger="hover"
                        color="primary:#3080e8"
                        style="width: 35px; height: 35px;">
                    </lord-icon>
                </span>
                <div class="form-floating" style="width: 100%;">
                    {{ form.email(class='form-control', placeholder='{{ form.email.label }}', id='registerEmail') }}
                    {{ form.email.label(for='registerEmail') }}
                </div>
            </div>
        </div>
        <div class="input-group mb-5 row">
            <div class="col" style="display: flex; justify-content: center;">
                <span class="input-group-text">
                    <lord-icon
                    src="https://cdn.lordicon.com/huwchbks.json"
                    trigger="hover"
                    color="primary:#a866ee,secondary:#4030e8"
                    style="width: 35px; height: 35px;">
                    </lord-icon>
                </span>
                <div class="form-floating" style="width: 100%;">
                    {{ form.password(class='form-control', placeholder='{{ form.password.label }}', id='registerPassword') }}
                    {{ form.password.label(for='registerPassword') }}
                </div>
            </div>
        </div>
        {{ form.submit(class='btn btn-lg login-button', value='Login') }}
    </div>
</form>