{% extends 'base.html' %}

{% block content %}
    <div class="modal-dialog modal-xl">
        <div class="card">
            <div class="row">
                <div class="col-4">
                    <div class="logo logo-hover" style="right: 5vw;"><img src="../static/images/V.svg" alt="Logo" style="width: 50px; height: 50px; margin-bottom: 1em;"></div>
                    <div class="card-body">
                        <h1 class="card-title">Welcome Back! 👋</h1>
                        {% include 'login_form.html' %}
                    </div>
                </div>
                <div class="col-8">

                </div>
            </div>
        </div>
    </div>
{% endblock content %}