{% extends 'base.html' %}

{% block content %}
    <div class="container register-container">
        <div class="card login-card">
            <div class="row">
                <div class="col register-container">
                    <div class="logo logo-hover" style="position: absolute; top: 0; right: 0; align-self: flex-end; margin: 3em;"><img src="../static/images/V.svg" alt="Logo" style="width: 50px; height: 50px; margin-bottom: 1em;"></div>
                    <div class="card-body">
                        <div class="get-centered">
                            {{ "Welcome back! 👋"|wrap_words('hover-word', 'hover-letter', 'word-space')|safe }}
                        </div>
                            {% include 'login_form.html' %}
                    </div>
                </div>
                <div class="col">

                </div>
            </div>
        </div>
    </div>
{% endblock content %}