{% extends 'base.html' %}

{% block content %}
    <div class="container register-container">
        <div class="card register-card" style="background-color: rgb(249, 150, 244);">
            <div class="row">
                <div class="col">
                    <div class="backimg">
                        <lord-icon
                            src="https://cdn.lordicon.com/ftrbfost.json"
                            trigger="hover"
                            style="width: 10em; height: 10em;">
                        </lord-icon>
                        <lord-icon
                            src="https://cdn.lordicon.com/wgdyxtzf.json"
                            trigger="hover"
                            style="width: 10em; height: 10em;">
                        </lord-icon>
                    </div>
                    <div class="backimg">
                        <lord-icon
                            src="https://cdn.lordicon.com/ozqvdvoh.json"
                            trigger="hover"
                            style="width: 10em; height: 10em;">
                        </lord-icon>
                        <lord-icon
                            src="https://cdn.lordicon.com/pimvysaa.json"
                            trigger="hover"
                            style="width: 10em; height: 10em;">
                        </lord-icon>
                    </div>
                </div>
                <div class="col register-container">
                    <div class="logo logo-hover" style="position: absolute; top: 0; align-self: flex-end; margin: 3em;"><img src="../static/images/V.svg" alt="Logo" style="width: 50px; height: 50px; margin-bottom: 1em;"></div>
                    <div class="card-body">
                        <div class="get-centered">
                            {{ "Let's get you started 💸"|wrap_words('hover-word', 'hover-letter', 'word-space')|safe }}
                        </div>
                            {% include 'register_form.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
