.shop-nav {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    width: 60dvw;
    justify-content: center;
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-link > span {
    position: relative;
    align-self: center;
    color: rgba(255, 255, 255, .25);
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 60%;
}

.nav-link > span::before {
    content: attr(data-text);
    position: absolute;
    color: white;
    width: 0;
    overflow: hidden;
    transition: .4s;
    -webkit-text-stroke: 2px var(--clr);
    border-right: .75em solid var(--clr);
}

.nav-link:hover > span::before {
    width: 100%;
    filter: drop-shadow(0 0 15px var(--clr));
    text-shadow:
    -1px -1px 1px var(--clr),  
    1px -1px 1px var(--clr),
    -1px 1px 1px var(--clr),
    1px 1px 1px var(--clr);
}
.nav-link:hover > span.black::before {
    filter: drop-shadow(0 0 15px white);
    text-shadow:
    -1px -1px 5px #fff,  
    1px -1px 5px #fff,
    -1px 1px 5px #fff,
    1px 1px 5px #fff;
}
